CheckboxExample.xcodeproj/project.xcworkspace/xcuserdata/Gottlieb.xcuserdatad/UserInterfaceState.xcuserstate
CheckboxExample.xcodeproj/xcuserdata/Gottlieb.xcuserdatad/xcschemes/CheckboxExample.xcscheme
iCheckbox/iCheckbox.xcodeproj
iCheckboxDemo/iCheckboxDemo.xcodeproj/xcuserdata
iCheckboxDemo/iCheckboxDemo.xcodeproj/project.xcworkspace/xcuserdata
